In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv?raw=true'

In [3]:
fuel_data = pd.read_csv(url, error_bad_lines = False)

In [4]:
fuel_data.describe(include='all')
#answer to question 4; standard deviation and 75% of fuel mmbtu per unit are 10.60 and 17.01 respectively.

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2012_12_27_0_8,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [5]:
fuel_data.groupby('fuel_type_code_pudl').mean()
#answer to question 3 is Gas as i has the lowest average fuel cost per unit burned at 13.65

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [6]:
fuel_data.skew(), fuel_data.kurt()
#answer to question 5; the skewness and kurtosis for fuel quantity burned 15.85 and 651.37 respectively

(utility_id_ferc1                  0.605070
 report_year                       0.006953
 fuel_qty_burned                  15.851495
 fuel_mmbtu_per_unit               4.135217
 fuel_cost_per_unit_burned        19.787440
 fuel_cost_per_unit_delivered    105.014227
 fuel_cost_per_mmbtu             171.675535
 dtype: float64,
 utility_id_ferc1                    1.088432
 report_year                        -1.145656
 fuel_qty_burned                   651.369450
 fuel_mmbtu_per_unit                55.595695
 fuel_cost_per_unit_burned         485.255851
 fuel_cost_per_unit_delivered    11765.054226
 fuel_cost_per_mmbtu             29489.132594
 dtype: float64)

In [7]:
categorical_features = fuel_data.select_dtypes(include=[np.object])
categorical_features
categorical_features.head()
#answer to question 6; the feature is categorical feature, 0.006% to three decimal place and 180

                record_id      plant_name_ferc1 fuel_type_code_pudl fuel_unit
0   f1_fuel_1994_12_1_0_7              rockport                coal       ton
1  f1_fuel_1994_12_1_0_10  rockport total plant                coal       ton
2   f1_fuel_1994_12_2_0_1                gorgas                coal       ton
3   f1_fuel_1994_12_2_0_7                 barry                coal       ton
4  f1_fuel_1994_12_2_0_10             chickasaw                 gas       mcf

In [8]:
features_with_na = [features for features in fuel_data.columns if fuel_data[features].isnull().sum()>1]
for feature in features_with_na:
    print(feature, np.round(fuel_data[feature].isnull().mean(), 4), '% of Missing Values')

fuel_unit 0.0061 % of Missing Values

In [9]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [11]:
numeric_features = fuel_data.select_dtypes(include=[np.number])
numeric_features.columns

Index(['utility_id_ferc1', 'report_year', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [12]:
correlation = numeric_features.corr()
print(correlation['fuel_cost_per_unit_burned'].sort_values(ascending = False),'\n')

fuel_cost_per_unit_burned       1.000000
report_year                     0.013599
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
fuel_mmbtu_per_unit            -0.010034
fuel_qty_burned                -0.018535
utility_id_ferc1               -0.037863
Name: fuel_cost_per_unit_burned, dtype: float64

In [17]:
yearly_cost = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
yearly_cost
#question 9; the percentange change for the fuel type coal between 1994 and 1998 falls at -21%....
#this is arrived at through the groupby function first, then using the loc to locate the values for the year
#then the percentage change formula((new cost - old cost/ old cost)*100 to get the percentage change which is a decrease.

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
                                       ...
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [18]:
year_1994, year_1998 = yearly_cost.loc[[1994, 1998], 'coal']
year_1994, year_1998

(14984.572000000011, 11902.597000000012)

In [21]:
percentage_change = ((year_1998 - year_1994)/ year_1994)*100
percentage_change

-20.56765451826049

In [20]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values()
#question 10; the year with the highest average fuel cost per unit delivered is 1997 with value of 11140.197239

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64